*
!.gitignore
!.zshrc
!starship.toml
!btop
!yazi
yazi/plugins

!ghostty
!ghostty/config
!ghostty/cursor_blaze.glsl
!ghostty/cursor_warp.glsl
!ghostty/cursor_tail.glsl

!karabiner
!karabiner/karabiner.json

!README.md

!hypr/
!hypr/**

!Code - OSS/
!Code - OSS/User/
!Code - OSS/User/keybindings.json
!Code - OSS/User/settings.json

!noctalia
!noctalia/**
