*__pycache__*
*.pyc

*
!.gitignore
!.zshrc
!starship.toml
!btop
!yazi
yazi/plugins

!ghostty
!ghostty/config
!ghostty/cursor_blaze.glsl
!ghostty/cursor_warp.glsl
!ghostty/cursor_tail.glsl

!karabiner
!karabiner/karabiner.json

!README.md

!hypr/
!hypr/**

!Code - OSS/
!Code - OSS/User/
!Code - OSS/User/keybindings.json
!Code - OSS/User/settings.json

!noctalia
!noctalia/**

!vicinae
!vicinae/**

!easyeffects
!easyeffects/db/
!easyeffects/db/equalizerrc

!btop/
!btop/btop.conf

!zsh/
!zsh/**

!blender
!blender/5.0/
!blender/5.0/config/
!blender/5.0/config/startup.blend
!blender/5.0/scripts/
!blender/5.0/scripts/presets/
!blender/5.0/scripts/presets/keyconfig/
!blender/5.0/scripts/presets/keyconfig/*
!blender/5.0/scripts/presets/interface_theme/
!blender/5.0/scripts/presets/interface_theme/custom.xml
