*
!.gitignore
!.zshrc
!starship.toml
!btop
!yazi

!ghostty
!ghostty/config
!ghostty/cursor_blaze.glsl
!ghostty/cursor_sweep.glsl
!ghostty/cursor_tail.glsl
!ghostty/cursor_warp.glsl
!ghostty/in-game-crt.glsl

!karabiner
!karabiner/karabiner.json

!README.md
