///////////////////////
/////// STARTUPS //////
///////////////////////

spawn-at-startup "noctalia"
spawn-at-startup "easyeffects" "--gapplication-service"

// Startup apps.
spawn-at-startup "ghostty"
spawn-at-startup "zen-browser"
spawn-at-startup "signal-desktop"

// CPU cooler settings (need shell for sleep/&&).
spawn-sh-at-startup "liquidctl --match h150i set fan speed 25 5 30 15 35 40 38 70 40 100"
spawn-sh-at-startup "liquidctl initialize --match h150i --pump-mode performance"
