// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "./input.kdl"
include "./output.kdl"
include "./keybinds.kdl"
include "./layout.kdl"
include "./noctalia.kdl"
include "./autostart.kdl"

// debug {
//   enable-overlay-planes
//   deactivate-unfocused-windows
//   skip-cursor-only-updates-during-vrr
// }
